/*Fontti ja taustaväri*/
body {
    font-family: "Georgia", Times, serif;
    margin: 0;
    background-color: #0F1416;
}

html {
    box-sizing: border-box;
    color: white;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/*Muotoillaan palkkia*/
#palkki{
    padding: 30px;
}
/*Lisätään väri ja asetellaan */
#navlist {
    background-color: black;
    position: absolute;
    width: 97%;
}
/* Muotoillaan navigointi listan ankkurielementti */
#navlist a {


    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    transition: .5s;
}


/* Lisätään hover effecti navigointilistan ankkurielementtiin */
#navlist a:hover {
    background-color: #ddd;
    color: black;
    letter-spacing: 10px;

}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
/* Asetetaan kortiin leveys, väri yms */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;

}
/* Lisätään taustakuva , sijoitellaan tekstiä yms */
.about-section {
    padding: 40px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    background-image: url("https://i.pinimg.com/originals/22/66/19/226619a3bd7ddd41ce861f2c96976b79.jpg");
    background-position: center;
    background-size: cover;
    font-size: 25px;
    background-repeat: no-repeat;

}

.container {
    padding: 0 16px;
    text-align: center;

}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
/* Sijoitellaan kortit */
#kim {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}
#petteri {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#emil {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: gray;
}
/* Muokataan napin ulkoasua */
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
/* Lisätään nappiin hover effecti */
.button:hover {
    background-color: darkgrey;
}

/* Muutetaan maksimi leveyttä*/
@media screen and (max-width: 60px) {
    .column {
        width: 100%;
        display: block;
    }
}
