/* Lisätään kuva taustalle */
body {
    background-image: url("https://i.pinimg.com/originals/22/66/19/226619a3bd7ddd41ce861f2c96976b79.jpg");
    background-position: center;
    background-size: contain;
}
/* Muotoillaan ja asetellaan kartta */
#map {
    display: block;
    margin-right:auto;
    margin-left: auto;
    height: 700px;
    width: 1000px;
    margin-top: 50px;
}

#palkki{
    padding: 30px;
}
/* Lisätään navigointi listaa taustaväri */
#navlist {
    background-color: black;
    position: absolute;
    width: 95%;

}
/* styling navlist anchor element */
#navlist a {

    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    transition: .5s;
}


/* Lisätään hover effecti */
#navlist a:hover {
    background-color: #ddd;
    color: black;
    letter-spacing: 10px;
}
/* Lisätään otsikko palkkiin kuva ja asetellaan se */
.about-section {
    padding: 10px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    background-image: url("https://i.pinimg.com/originals/22/66/19/226619a3bd7ddd41ce861f2c96976b79.jpg");
    background-position: center;
    background-size: cover;
    font-size: 25px;
    background-repeat: no-repeat;
}
/* Muotoillaan alaotsikko */
#footer {
     position: absolute;
     color: #dddddd;
 }#comment {
       color: #dddddd;
       font-size: 20px;
   }#box1 {
        background-size: cover;
        background-image: url("https://b.zmtcdn.com/mx-onboarding-hero87f77501659a5656cad54d98e72bf0d81627911821.webp");
        margin: 50px;
       }
    #nayta {
        position: relative;
        padding: 20px;
    }